{% extends "@Contao/be_main" %}

{% block main_content %}
    <div class="maintenance_inactive">
        {{ messages | raw }}

        <fieldset class="tl_box" id="pal_system_load">
            <legend onclick="AjaxRequest.toggleFieldset(this, 'system_load')">
                {{ 'bwein.system_info.legend_load'|trans }}
            </legend>

            {% include '@BweinSystemInformation/system_load.html.twig' with {
                'systemLoadInfo': systemLoadInfo
            } %}
        </fieldset>

        <fieldset class="tl_box" id="pal_software">
            <legend onclick="AjaxRequest.toggleFieldset(this, 'software')">
                {{ 'bwein.system_info.legend_software'|trans }}
            </legend>

            <div class="w50">
                {% include '@BweinSystemInformation/os_info.html.twig' with {
                    'osInfo': osInfo
                } %}
            </div>
            <div class="w50">
                {% include '@BweinSystemInformation/virtualization_info.html.twig' with {
                    'virtualizationInfo': virtualizationInfo
                } %}
            </div>

            <div class="clear"></div>

            <div class="w50">
                {% include '@BweinSystemInformation/php_info.html.twig' with {
                    'phpInfo': phpInfo
                } %}
            </div>
            <div class="w50">
                {% include '@BweinSystemInformation/database_info.html.twig' with {
                    'databaseInfo': databaseInfo
                } %}
            </div>
        </fieldset>

        <fieldset class="tl_box" id="pal_hardware">
            <legend onclick="AjaxRequest.toggleFieldset(this, 'hardware')">
                {{ 'bwein.system_info.legend_hardware'|trans }}
            </legend>

            <div class="w50">
                {% include '@BweinSystemInformation/hardware_info.html.twig' with {
                    'hardwareInfo': hardwareInfo
                } %}
            </div>
            <div class="w50">
                {% include '@BweinSystemInformation/host_info.html.twig' with {
                    'hostInfo': hostInfo
                } %}
            </div>
        </fieldset>
    </div>
{% endblock %}
